.login-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  &__login,
  &__password {
    width: 100%;
    margin-bottom: 15px;
  }

  &__submit-button {
    width: 100%;
    margin-bottom: 10px;
  }

  &__signup-link {
    width: 100%;
    font-size: 13px;
    color: var(--second-text-color);

    &:hover {
      color: var(--second-text-color);
    }
  }
}
