{
  "env": {
    "es6": true,
    "node": true
  },
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "google",
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "max-len": ["warn", { "code": 80 }],
    "semi": "off",
    "require-jsdoc": "off",
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/ban-ts-comment": "off"
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  }
}
