.button {
  border: none;
  font-size: 13px;
  padding: 10px;
  cursor: pointer;
  background-color: var(--third-bg);
  color: #fff;
  border-radius: 8px;

  &--text {
    background-color: transparent;
    color: var(--main-text-color);
    font-weight: 500;
  }
}
