.button {
  border: none;
  font-size: 13px;
  padding: 10px 0;
  cursor: pointer;

  &--submit {
    background-color: #7c746b;
    color: #fff;
    border-radius: 8px;
  }

  &--text {
    background-color: transparent;
  }
}
