.forum-theme-container {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 50px 35px 50px 100px;
}

.forum-theme {
  &__card {
    margin-bottom: 5px;
  }

  &__scroll {
    width: 100%;
    max-width: 1100px;
    height: 85vh;
    overflow: auto;
  }
}
