.forum-message {
  font: var(--default-font);
  width: 100%;

  &__answer {
    padding: 20px;
    width: 100%;
  }

  &__answer-wrapper {
    color: var(--main-text-color);
    border: 1px solid var(--orange);
    border-radius: 10px;

    & legend {
      margin-left: 15px;
      color: var(--main-text-color);
    }
  }

  &__message {
    margin: 5px;
    color: var(--main-text-color);
  }
}
