.logo {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  font: var(--title-font);
  background: var(--second-bg);

  .logo-orange {
    color: var(--orange);
  }

  .logo-light-orange {
    color: var(--light-orange);
  }
}

.logo-full {
  width: 280px;
  border-right: 1px solid var(--gray);
  font-size: 28px;
  letter-spacing: 5px;
}
