.logo {
  font: var(--title-font);
  text-decoration: none;
  cursor: pointer;

  .logo-orange {
    color: var(--orange);
  }

  .logo-light-orange {
    color: var(--light-orange);
  }

  &--medium {
    font-size: 28px;
    letter-spacing: 5px;
  }

  &--large {
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 3px;
  }
}
