.profile-info {
  margin-bottom: 40px;

  &__list {
    margin-bottom: 120px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0;
    font-weight: 500;
  }

  &__item:not(:last-child) {
    border-bottom: 1px solid #eaeaea;
  }

  &__item-caption {
    color: var(--main-text-color);
  }

  &__item-value {
    color: var(--second-text-color);
  }

  &__button-item:not(:last-child) {
    border-bottom: 1px solid #eaeaea;
  }
}
