.profile-widget {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .profile-widget-image-wrapper {
    width: 40px;
    height: 40px;

    img {
      border-radius: 40px;
    }
  }

  .profile-widget-display-name-wrapper {
    font: var(--title-font);
    color: #000;
    display: flex;
    justify-content: center;
    flex: 1 0 auto;
  }

  .profile-widget-options-wrapper {
    width: 15px;
  }
}
