.leaderboard {
  width: 100%;
  height: 100%;
  padding-top: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.leaderboard__test {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
