.sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: var(--small-side-size);
  background: var(--second-bg);
  transition: var(--change-width);
}

.sidebar_full {
  width: var(--full-side-size);
  border-right: 1px solid var(--gray);
}
