.topic-card {
  display: flex;
  align-items: flex-start;
  width: 100%;
  background-color: var(--second-bg);
  padding: 15px;
  border-radius: 12px;
  color: var(--main-text-color);
  margin-bottom: 10px;

  &__message-wrapper {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

  &__time-wrapper {
    margin-bottom: 15px;
  }
}
