.game-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  align-items: center;
}

.game-canvas {
  margin-right: 100px;
}

.game-score {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

.game-score__caption {
  color: #F0B17B;
  margin: 0;
}

.game-score__score {
  color: #756A61;
  margin: 0;
}