.game-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  align-items: center;
}

.game-canvas {
  margin-right: 100px;
}

.game-score {
  font-size: 40px;
  font-weight: bold;
  text-align: center;

  &__caption {
    color: #f0b17b;
    margin: 0;
  }

  &__score {
    color: #756a61;
    margin: 0;
  }
}
