html {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
}

p {
  margin: 0;
}

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

#root {
  height: 100%;
}

.app {
  height: 100%;
}