.game-modal__wrapper {
  padding: 15px;
  min-height: 260px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.game-modal__title {
  font: var(--title-font);
  color: var(--orange);
}

.game-modal__action-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &_lose {
    justify-content: center;
  }
}
